<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

   <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
 
 
         <li class="nav-item active">
            <a id="add-product-button" class="nav-link" (click)="openModal(null, 'add')">Add Product <span class="sr-only">(current)</span></a>
         </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
         <input type="search" (ngModelChange)="searchProducts(key.value)" #key="ngModel" ngModel
          name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search products..." required>
      </form>
   </div>
 </nav>

<div class="container" id="main-container">
   <table class="table table-bordered">
      <thead>
        <tr>
          
          <th>Product ID</th>
          <th class="max-width">Name</th>
          <th class="sortable">Stock</th>
          <th>Price per unit</th>
          <th>Supplier</th>
          <th>Actions</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
            <td class="text-nowrap align-middle">#{{product.id}}</td>

            <td class="text-nowrap align-middle">{{product.name}}</td>
            <td class="text-nowrap align-middle">{{product.quantity}}</td>
            
            <td class="text-nowrap align-middle">{{product.dollarPrice}}$</td>


            <td class="text-nowrap align-middle">{{product.supplier}}</td>
            
            <td class="text-center align-middle">
               <div class="btn-group align-top">
                   <button (click)="openModal(product, 'update')" class="btn btn-sm btn-outline-secondary " type="button" data-toggle="modal" data-target="#user-form-modal">Edit</button>
                   <button (click)="openModal(product, 'delete')" class="btn btn-sm btn-outline-secondary " type="button"><i class="fa fa-trash"></i></button>
               </div>
             </td>

        </tr>
      </tbody>
    </table>

   <!-- ADD PRODUCT MODAL  -->
   <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="addProductModalLabel">Add Product</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body">
              <form #addForm="ngForm" (ngSubmit)="onAddProduct(addForm)" >
               <div class="form-group">
                  <label for="name">Name</label>
                  <input ngModel type="text" name="name" class="form-control" id="name" placeholder="Name" required>
               </div>
               <div class="form-group">
                  <label for="quantity">Stock</label>
                  <input ngModel type="number" min="0" [defaultValue]="0" name="quantity" class="form-control" id="quantity" placeholder="Stock" required>
               </div>
               <div class="form-group">
                  <label for="imageUrl">Price per unit</label>
                  <input ngModel type="number" min="0" [defaultValue]="0" name="dollarPrice" class="form-control" id="dollarPrice" placeholder="Price per Unit" required>
               </div>
               <div class="form-group">
                  <label for="supplier">Supplier</label>
                  <input ngModel type="text" name="supplier" class="form-control" id="supplier" placeholder="Supplier" required>
               </div>
               <div class="modal-footer">
                  <button type="button" id="add-product-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
               </div>
              </form>
           </div>
        </div>
      </div>
   </div>



   <!-- UPDATE PRODUCT MODAL  -->
   <div class="modal fade" id="updateProductModal" tabindex="-1" role="dialog" aria-labelledby="updateProductModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="updateProductModalLabel">Update Product</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body">
              <form #updateForm="ngForm">
               <input type="hidden" ngModel="{{editProduct?.id}}" name="id" class="form-control" id="id" placeholder="Id">

               <div class="form-group">
                  <label for="name">Name</label>
                  <input ngModel="{{editProduct?.name}}" type="text" name="name" class="form-control" id="name" placeholder="Name" required>
               </div>
               <div class="form-group">
                  <label for="quantity">Stock</label>
                  <input ngModel="{{editProduct?.quantity}}" type="number" [defaultValue]="0" min="0" name="quantity" class="form-control" id="quantity" placeholder="Stock" required>
               </div>
               <div class="form-group">
                  <label for="imageUrl">Price per unit</label>
                  <input ngModel="{{editProduct?.dollarPrice}}" type="number" min="0" [defaultValue]="0" name="dollarPrice" class="form-control" id="dollarPrice" placeholder="Price per Unit" required>
               </div>
               <div class="form-group">
                  <label for="supplier">Supplier</label>
                  <input ngModel="{{editProduct?.supplier}}" type="text" name="supplier" class="form-control" id="supplier" placeholder="Supplier" required>
               </div>
               <div class="modal-footer">
                  <button type="button" id="update-product-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button (click)="onUpdateProduct(updateForm.value)" [disabled]="updateForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
               </div>
              </form>
           </div>
        </div>
      </div>
    </div>


    <!-- DELETE PRODUCT MODAL -->

    <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="productDeleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
              <h5 class="modal-title" id="deleteModelLabel">Delete Product {{deleteProduct?.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
           </div>
           <div class="modal-body">
              <p>Are you sure you want to delete product {{deleteProduct?.name}} ?</p>
              <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                 <button (click)="onDeleteProduct(deleteProduct?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
              </div>
           </div>
        </div>
     </div>


</div>




<!-- Notification for no products -->
<div *ngIf="products?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
   <div class="alert alert-info" role="alert">
     <h4 class="alert-heading">NO PRODUCTS!</h4>
     <p>No Products were found.</p>
   </div>
 </div>


